{% extends 'chef/navbar.html' %}

{% block page_title %}
    Update recipe | RecipeCo
{% endblock page_title %}

{% block chef_content %} 

        <div>
            <p class="recipeco-black fs-4">Update recipe</p>
        </div>
        <div class="mt-2 row px-4">
            <div class="">
                <div class="mb-5">
                    <button onclick="goBack()" class="me-2 btn">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                </div>
                    {% url 'edit_recipe' as action_path %}
                    <form role="form" action="{{ action_path }}" method="post" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {{ form.media }}                      
                        <div class="mb-5">
                            <div class="form-group">
                                {% if messages %}
                                  {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                    {% if message.tags == 'success' %}
                                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                            </div>
                            <p class="section-text fs-5">Recipe basics</p>
                            <hr>
                            <div class="mb-3">
                                <label for="image" class="section-text"> Select recipe photo </label>
                                {{ form.image_url }}
                            </div>
                            <div class="mb-3">
                                <label for="name" class="section-text">Recipe name</label>
                                {{ form.name }}
                            </div>
                            <div class="mb-3">
                                <label for="price" class="section-text">Recipe price</label>
                                {{ form.price }}
                            </div>
                            <div class="mb-3">
                                <label for="price" class="section-text">Recipe Duration In Minutes</label>
                                {{ form.period }}
                            </div>
                            <div class="mb-3">
                                <label for="description" class="section-text">Description</label> <br/>
                                {{ form.description }}
                            </div>  
                            <div>
                                <label for="country" class="section-text">Country</label>
                                {{ form.country }}
                            </div>
                        </div>
                        <div class="mb-5">
                            <p class="section-text fs-5">Recipe details</p>
                            <hr>
                            <div class="mb-3">
                                <label for="ingredients" class="section-text">Ingredients</label><br/>
                                {{ form.ingredient }}
                            </div>
                            <div class="mb-3">    
                                <label for="method" class="section-text">Method</label><br/>
                                {{ form.method }}
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn text-white auth-btn" type="submit">Update Recipe</button>
                            <br />
                            <br />
                            <br />
                        </div>

                    </form>

                    
            </div>
        </div>
    </div>
</div>
{% endblock chef_content %}