{% extends 'Home/layout.html' %}

{% block page_title %}
    Welcome
{% endblock page_title %}

{% block main_content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
            {% endif %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}     
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Methods</th>
                <th>Ingredient</th>
                <th>Price</th>
                <th>Main Image</th>
                <th>Addres Name</th>
                <th>Country</th>
                <th>Continent</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>              
                    <td>{{ recipe.id }}</td> 
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.decription | safe }}</td> 
                    <td>{{ recipe.method | safe }}</td>  
                    <td>{{ recipe.ingredient | safe }}</td> 
                    <td>{{ recipe.price }}</td>
                    <td><img src="../media/{{ recipe.image_url }}" style="width:100px"/></td>
                    <td>{{ recipe.address_name }}</td>
                    <td>{{ recipe.country_id.name }}</td>
                    <td>{{ recipe.continent_id.name }}</td> 
                    <td><a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-success">Edit</a></td>
                    <td><a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger">Remove</a></td>               
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
      
            {% if recipes.has_previous %}
                <li class="page-item" >
                <a class="page-link" href="?page={{ recipes.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            
            {% for i in nums %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ forloop.counter }}">
                    {{ forloop.counter }}
                    </a>
                </li>
            {% endfor %}
            
            {% if recipes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ recipes.next_page_number }}">Next</a></li>
            {% endif %}
      
       </ul>
    </nav>
{% endblock main_content %}