{% extends 'chef/navbar.html' %}

    {% block chef_content %} 
    <div class="d-flex justify-content-between">
        <p class="recipeco-black fs-4">Recipe</p>
        <a href="{% url 'create_recipe' %}" class="btn new-btn">
            <i class="bi bi-plus me-1"></i>
            Create recipe
        </a>
    </div>
    <div class="mx-5 mt-2 row">
        <div class="">
            <div>
                <div class="d-flex justify-content-between mt-4">
                    <div>
                        <a href="{% url 'get_recipe' %}" class="section-text fs-5">All recipes</a>
                    </div>
                    
                    {% url 'get_recipe' as action_path %}
                    <form role="form" action="{{ action_path }}" method="post">
                        {% csrf_token %}
                        <div class="d-flex align-items-end">
                            <input type="text" name="search" class="me-2 searchbar" placeholder="Search for recipe">
                            <button type="submit" class="btn">
                                <i class="bi bi-funnel"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row ms-3 mt-4">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}  
                    {% for recipe in recipes %}
                        <div class="col-md-4 mt-4">
                            <div class="col-md-3">
                                <!-- Include recipe card -->
                                <a href="{% url 'get_recipe_Id' recipe.recipe.id %}" class="text-decoration-none">                           
                                    <div class="tr-card">
                                        <div>
                                            <img  src="../media/{{ recipe.recipe.image_url }}"  alt="placeholder meal" width="236" height="156">
                                        </div>
                                        <div class="mx-2">
                                            <div class="d-flex justify-content-between mt-1">
                                                <div class="d-flex">
                                                    <i class="bi bi-star-fill section-logo me-2"></i>
                                                    <p class="mb-0 section-text">{{ recipe.rating }} stars</p>
                                                </div>
                                                <div class="d-flex">
                                                    <i class="bi bi-clock-fill me-2 section-logo"></i>
                                                    <p class="mb-0 section-text">{{ recipe.recipe.period }} mins</p>
                                                </div>
                                            </div>
                                            <div class="mt-1">
                                                <p class="recipeco-black fs-5 mb-0">{{ recipe.recipe.name }}</p>
                                            </div>
                                            <div class="d-flex justify-content-between mt-2">
                                                <div class="d-flex">
                                                    <i class="bi bi-geo-alt me-2"></i>
                                                    <p class="mb-0 section-text">{{ recipe.recipe.country_id.name }}, {{ recipe.recipe.continent_id.name }}</p>
                                                </div>
                                                <p class="mb-0 fw-bold recipeco-theme">${{ recipe.recipe.price }}</p>
                                            </div>
                                        </div>
                                    </div>                            
                                </a>
                            </div>
                        </div>
                    {% endfor %}
            
                
                <nav aria-label="Page navigation example" class="mt-4">
                    <hr />
                    <ul class="pagination justify-content-center">
                        
                        {% if recipes.has_previous %}
                            <li class="page-item" >
                            <a class="page-link" href="?page={{ recipes.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        
                        {% for i in nums %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ forloop.counter }}">
                                {{ forloop.counter }}
                                </a>
                            </li>
                        {% endfor %}
                        
                        {% if recipes.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ recipes.next_page_number }}">Next</a></li>
                        {% endif %}
                  
                   </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock chef_content %}
