{% extends 'chef/navbar.html' %}
{% load mathfilters %}


{% block chef_content %}
    <div class="mt-5 px-8">
        <div class="form-group">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="p-3 recipe-box mb-5">
            <div class="d-grid justify-content-center mb-4">
                <img src="../../../media/{{ appointment.regularuser_id.image_url }}" alt="" class="recipe-image mb-3 text-center" width="124" height="124">
                <p class="recipco-black fs-4 mb-2 text-center section-text">{{ appointment.regularuser_id.admin.first_name }} {{ appointment.regularuser_id.admin.last_name }}</p>
                <p class="recipco-black fs-4 mb-2 text-center section-text">@{{ appointment.regularuser_id.admin.username }}</p>
                <div class="d-flex">
                    <i class="bi bi-envelope me-2"></i>
                    <p class="section-text me-4">{{appointment.regularuser_id.admin.email}}</p>

                    <i class="bi bi-geo-alt me-2"></i>
                    <p class="section-text">{{appointment.regularuser_id.country_id.name}}, {{appointment.regularuser_id.continent_id.name}}</p>
                </div>
            </div>
            <div class="mb-3 px-5">
                <div class="d-grid">
                    <div class="border rounded-3 p-4" style="width: 100%;">
                        <p class="recipeco-black fw-bold fs-5 mb-4 text-danger text-center">Appointment Card</p>
                        <div class="d-flex justify-content-between">
                            <p class="section-text">Appointment ID</p>
                            <p class="ms-5 text-end">{{ appointment.id }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="section-text">Recipe ID</p>
                            <p class="ms-5 text-end"><a  href="{% url 'get_recipe_Id' appointment.recipe_id.id %}">{{ appointment.recipe_id.id }}</a></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="section-text">Recipe</p>
                            <p class="ms-5 text-end"> <a  href="{% url 'get_recipe_Id' appointment.recipe_id.id %}"> {{ appointment.recipe_id.name }} </a></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="section-text">Time</p>
                            <p class="ms-5 text-end">{{ appointment.booking_date }}, {{ appointment.booking_time }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="section-text">Price</p>
                            <p class="ms-5 text-end">${{ appointment.recipe_id.price }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="section-text">Quantity</p>
                            <p class="ms-5 text-end">{{ appointment.quantity }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="section-text">Total Price</p>
                            <p>${{ appointment.quantity|mul:appointment.recipe_id.price }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="section-text">Address</p>
                            <p>{{ appointment.address }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="section-text">Status</p>
                                {% if appointment.message == "Pending" %}
                                    <p class="text-danger"><strong>
                                        {{ appointment.message }}
                                    </strong></p>
                                {% endif %}
                                {% if appointment.message == "Declined" %}
                                    <p class="text-danger"><strong>
                                        {{ appointment.message }}
                                    </strong></p>
                                {% endif %}
                                {% if appointment.message == "Approved" %}
                                    <p class="text-success"><strong>
                                        {{ appointment.message }}
                                    </strong></p>
                                {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-5">
                    {% if appointment.message == "Pending" %}
                        <a href="{% url 'chef_booking_confirmation_approved' appointment.id %}"  class="btn auth-btn text-white me-3">
                            <i class="bi bi-pen"></i> Approve                  
                        </a>
                    {% endif %}
                    {% if appointment.message == "Declined" %}
                        <a href="{% url 'chef_booking_confirmation_approved' appointment.id %}"  class="btn auth-btn text-white me-3">
                            <i class="bi bi-pen"></i> Approve                  
                        </a>
                    {% endif %}
                    {% if appointment.message == "Approved" %}
                        <a href="{% url 'chef_booking_confirmation_declined' appointment.id %}" class="btn btn-danger dd-link text-white">
                            <i class="bi bi-trash"></i> Decline                
                        </a>
                    {% endif %}                  
                </div>
            </div>
        </div>
    </div>
{% endblock chef_content %}