{% extends 'userrecipe/navbar.html' %}


{% block page_title %}
  Select difficulty{{ object.name }}
{% endblock page_title %}






{% block user_content %}

<div class="container py-4">
  <p class="my-4 h3 px-2 text-center recipeco-theme">Choose Quiz Level</p>

  <div class="row">
    <div class="col-10">
      <ul>
        {% for d in difficulty_levels  %}
          <a href="{% url 'quiz:main-view' %}?difficulty={{d}}" >
            <div class="d-flex justify-content-between shadow-sm rounded px-4 py-2 mb-2" >
              <li class="btn nav--links d-flex">{{d}}</li>
            </div>
          </a>   
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


{% endblock user_content %}
