{% extends 'userrecipe/navbar.html' %}

{% block page_title %}
    User dashboard | RecipeCo
{% endblock page_title %}


{% block user_content %}
     <!-- Search/result section -->
     <div class="mb-5">
        <div class="container my-3 mt-4">
            <div class="px-5">
                {% include "home/recipe_booking_section.html" %}
            </div>
        </div>

        <div class="mt-5">
            <p class="fs-4"> All Approved Appointment </p>
        </div>

        <hr />

        <div class="mt-5 px-8 mb-5">
            <div class="p-3 recipe-box">
                <div class="mb-3 px-5">
                    <h4 class="recipeco-black">Approved Appointment</h4>
                    <hr class="mb-2">
                    <div class="mb-3 px-1">
                        <p class="recipeco-black">Appointment schedule</p>
                        <hr class="mb-2">
                        <div class="mb-3">
                            <div class="">
                                <a href="" class="ps-0 section-text btn d-flex justify-content-between">
                                    <dl>
                                        <i class="bi bi-clock-fill me-1"></i>
                                        Customer feedback  
                                    </dl>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="">
                                <a href="" class="ps-0 section-text btn d-flex justify-content-between">
                                    <dl>
                                        <i class="bi bi-clock-fill me-1"></i>
                                        Customer feedback  
                                    </dl>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="">
                                <a href="" class="ps-0 section-text btn d-flex justify-content-between">
                                    <dl>
                                        <i class="bi bi-clock-fill me-1"></i>
                                        Customer feedback  
                                    </dl>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="">
                                <a href="" class="ps-0 section-text btn d-flex justify-content-between">
                                    <dl>
                                        <i class="bi bi-clock-fill me-1"></i>
                                        Customer feedback  
                                    </dl>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="">
                                <a href="" class="ps-0 section-text btn d-flex justify-content-between">
                                    <dl>
                                        <i class="bi bi-clock-fill me-1"></i>
                                        Customer feedback  
                                    </dl>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="">
                                <a href="" class="ps-0 section-text btn d-flex justify-content-between">
                                    <dl>
                                        <i class="bi bi-clock-fill me-1"></i>
                                        Customer feedback  
                                    </dl>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>    
{% endblock user_content %}