{% extends 'chef/navbar.html' %}


{% block page_title %}
    Chef dashboard | RecipeCo
{% endblock page_title %}


{% block chef_content %} 


    <div>
        <p class="recipeco-black fs-4">Dashboard</p>
    </div>
    <div class="mx-3 mt-2 row">
        <div class="col-md-9">
            <div class="mb-5">
                <p class="section-text fs-5">Appointments</p>
                <div class="row ms-3">
                    <div class="col-md-3 appointment-card">
                        <div class="my-1">
                            <i class="bi bi-lightning fs-4"></i>
                        </div>
                        <p class="section-text mb-3">Active</p>
                        <p class="mb-1 fw-bold fs-4">{{ pending_appointment }}</p>
                    </div>
                    <div class="col-md-3 appointment-card mx-5">
                        <div class="my-1">
                            <i class="bi bi-star fs-4"></i>
                        </div>
                        <p class="section-text mb-3">Successful</p>
                        <p class="mb-1 fw-bold fs-4">{{ payment_appointment }}</p>
                    </div>
                    <div class="col-md-3 appointment-card">
                        <div>
                            <i class="bi bi-stack fs-4"></i>
                        </div>
                        <p class="section-text mb-3">Total</p>
                        <p class="mb-1 fw-bold fs-4">{{ count_appointment }}</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    {% for recipe in recipes %}
                        <div class="col-md-4">
                                <div class="col-md-3 mt-3">
                                    <a href="{% url 'get_recipe_Id' recipe.recipe.id %}" class="text-decoration-none">
                                        <div class="tr-card">
                                            <div>
                                                <img src="../media/{{ recipe.recipe.image_url }}" alt="placeholder meal" width="236" height="156">
                                            </div>
                                            <div class="mx-2">
                                                <div class="d-flex justify-content-between mt-1">
                                                    <div class="d-flex">
                                                        <i class="bi bi-star-fill section-logo me-2"></i>
                                                        <p class="mb-0 section-text">{{ recipe.rating }} star</p>
                                                    </div>
                                                    <div class="d-flex">
                                                        <i class="bi bi-clock-fill me-2 section-logo"></i>
                                                        <p class="mb-0 section-text">{{ recipe.recipe.period }} mins</p>
                                                    </div>
                                                </div>
                                                <div class="mt-1">
                                                    <p class="recipeco-black fs-5 mb-0">{{ recipe.recipe.name }}</p>
                                                </div>
                                                <div class="d-flex justify-content-between mt-2">
                                                    <p class="mb-0 section-text small">{{ recipe.recipe.chefuser_id.chef_name }}</p>
                                                    <p class="mb-0 fw-bold recipeco-theme">${{ recipe.recipe.price }}.00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>               
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3 appointment-card">
            <p class="section-text fw-bold mt-3">Recent appointment</p>
            <div>
                {% for recent in recent_appointment %}
                    <a href="{% url 'chef_booking_confirmation' recent.id %}" class="text-decoration-none">
                        <div class="d-flex mb-2">
                            <div class="me-2">
                                <img src="../media/{{ recent.regularuser_id.image_url }}" alt="" class="rounded-circle" width="50" height="50">
                            </div>
                            <div>
                                <p class="mb-0 recipeco-black">{{ recent.regularuser_id.admin.username }}</p>
                                <p class="mb-0 fw-light section-text">{{ recent.created_at }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock chef_content %}