<!-- category_section.html -->


<div class="d-flex justify-content-between">
    <div>
        <a href="" class="dd-link">Africa</a>
    </div>
    <div>
        <a href="" class="dd-link">Asia</a>
    </div>
    <div>
        <a href="" class="dd-link">Australia & Oceania</a>
    </div>
    <div>
        <a href="" class="dd-link">Europe</a>
    </div>
    <div>
        <a href="" class="dd-link">North America</a>
    </div>
    <div>
        <a href="" class="dd-link">South America</a>
    </div>
    <div>
        <a href="" class="dd-link">Local</a>
    </div>
</div>