<!-- landing_page_sidenav.html -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">
                    <div class="d-flex">
                        <i class="bi bi-person mr-3"></i>
                        <h2>Hello, Sign in</h2>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/login" class="text-gray-900">Sign in</a></li>
                        <li><a href="/register">Create Account</a></li>
                        <li><a href="/vendor_register">Become a chef</a></li>
                    </ul>
                    <hr>
                </div>
                <div>
                    <h3>Browse Categories</h3>
                    <p>CONTINENTS</p>
                    <ul>
                        <li><a href="#">Asia</a></li>
                        <li><a href="#">Europe</a></li>
                        <li><a href="#">Latin America</a></li>
                        <li><a href="#">Local</a></li>
                    </ul>
                    <hr>
                </div>
                <div>
                    <p>COUNTRIES</p>
                    <ul>
                        <li><a href="#">Nigeria</a></li>
                        <li><a href="#">Japan</a></li>
                        <li><a href="#">Colombia</a></li>
                        <li><a href="#">Italy</a></li>
                        <li><a href="#">view more</a></li>
                    </ul>
                    <hr>
                </div>
                <div>
                    <ul>
                        <li><a href="#">Recipe games</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>