<!-- landing_page_navbar.html -->

<!-- desktop -->
<div class="container">
    <div class="desktop">
        <div class="d-flex py-2 align-items-end justify-content-between">
            <div>
                <a href="/">
                    <img src="../../static/dist/img/Logo/Logo.png" alt="RecipeCo logo">
                </a>
            </div>   
            <div class=""> <!-- Search section -->
                <form action="">
                    <div class="input-group">
                        <input type="text" name="search" placeholder="Search for anything" class="form-control">
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="d-flex">
                <div class=" me-3">
                    <a href="{% url 'chef_register' %}" class="dd-link btn btn-outline-secondary">Become a chef</a>
                </div>
                <div class="me-3 border border-secondary"></div>
                <div class="me-3">
                    <a href="{% url 'login' %}" class="dd-link btn btn-outline-secondary"> Login </a>
                </div>
                <div class="me-3">
                    <a href="{% url 'user_register' %}" class="dd-link btn btn-outline-secondary">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>