{% extends 'home/layout.html' %}

{% block title %}
    Meal recipes at your fingertips | RecipeCo
{% endblock title %}

{% block main_content %}
<style scoped>
    img{
        border-radius: 6px 6px 0px 0px;
    }
</style>

    <!-- Include landing_page_navbar -->
    {% include "./landing_page_navbar.html" %}


    <!-- Hero section -->
    <div class="my-3 mb-5">
        <div class="hero-image">
            <div class="hero-text px-5">
                <p class="fs-1 fw-bold">Find recipes <br>for your perfect meal</p>
                <p>Book appointment from our top chefs to get premium recipes</p>
                <a href="{% url 'user_register' %}" class="auth-btn text-light">Create user account</a>
            </div>
        </div>
    </div>

    <!-- Top recipe section --> 
    <div class="container mb-5">
        <p class="fs-5">Today's Top recipes</p>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-3 mt-3">
                    <a href="{% url 'login' %}">
                        <div class="tr-card">
                            <div>
                                <img src="../media/{{ recipe.recipe.image_url }}" alt="placeholder meal" width="236" height="156">
                            </div>
                            <div class="mx-2">
                                <div class="d-flex justify-content-between mt-1">
                                    <div class="d-flex">
                                        <i class="bi bi-star-fill section-logo me-2"></i>
                                        <p class="mb-0 section-text">{{ recipe.rating }} star</p>
                                    </div>
                                    <div class="d-flex">
                                        <i class="bi bi-clock-fill me-2 section-logo"></i>
                                        <p class="mb-0 section-text">{{ recipe.recipe.period }} mins</p>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <p class="recipeco-black fs-5 mb-0">{{ recipe.recipe.name }}</p>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <p class="mb-0 section-text small">{{ recipe.recipe.chefuser_id.chef_name }}</p>
                                    <p class="mb-0 fw-bold recipeco-theme">${{ recipe.recipe.price }}.00</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>



     <!-- Top Chefs section -->
     <div class="container mb-5">
        <p class="fs-5">Today's Top chefs</p>
        <div class="row">
            {% for chef in chefusers %}             
                    <div class="col-md-3 mb-3">
                        <a href="{% url 'login' %}" class="text-decoration-none">
                            <div class="tr-card">
                                <div>
                                    <img src="../media/{{ chef.image_url }}" alt="placeholder meal" width="236" height="156">
                                </div>
                                <div class="mx-2">
                                    <div class="d-flex justify-content-between mt-1">
                                        <div class="d-flex">
                                            <i class="bi bi-briefcase me-2 mt-2"> </i>
                                            <p class="mb-0 section-text mt-2">4.8 Total Appointments </p>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <p class="recipeco-black fs-5 mb-0">{{ chef.chef_name }} </p>
                                    </div>
                                    <div class="d-flex justify-content-between mt-2">
                                        <div class="d-flex">
                                            <i class="bi bi-geo-alt me-2"></i>
                                            <p class="mb-0 section-text">{{ chef.country_id.name }}, {{ chef.continent_id.name }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>     
            {% endfor %}
        </div>
    </div>


     <!--Chef section-->
     <div class="container mb-5">
        <div class="bg-dark px-3 py-4 rounded text-light">
            <p class="fs-3 fw-bold">Earn money by listing your recipes</p>
            <p>Sell your recipes through bookings or deliver the meal</p>
            <a  href="{% url 'chef_register' %}" class="auth-link">
                Start listing your recipes
                <i class="ms-2 bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
 
    <!--More section-->
    <div class="container mb-5">
        <p class="fs-5">Today's Top countries</p>
        <div class="row">
            {% for country in countries %}
                <div class="col-md-4">
                    <a href="{% url 'login' %}" class="text-decoration-none">
                        <div  style=" background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/{{ country.image }}') ; height: 240px; background-position: center; background-repeat: no-repeat; background-size: cover;  position: relative;">
                            <bottom href="" class="btn btn-light subhero-btn">
                                {{ country.name }}
                            </bottom>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock main_content %}
